@{
    Layout = "~/Views/Account/_miChangoLayout.cshtml";
}

<div class="text display-5 text-center">
    <br>
    <p>Simplemente inicie sesión con su cuenta miChango!</p>
    <br>
</div>
<form class="form">
    <div class="form-group">
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ingrese su mail">
        <small id="emailHelp" class="form-text text-muted">Nunca compartiremos su correo electrónico con nadie más.</small>
    </div>
    <div class="form-group">
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Ingrese su contraseña">
    </div>
    <div class="button">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
    <div class="terminos">
        <span>Al utilizar miChango aceptas nuestros</span>
        <a href="#">Terminos de uso</a>
        <span>y</span>
        <a href="#">Politica de privacidad</a>
    </div>
</form>

